# Development
.idea/*
.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Directories
build/*
node_modules/*

# Files
.env
public/*
!public/README.md
akari.db
